* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border: none;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
}

@font-face {
    font-family: Product Sans;
    src: url('../font/Product-Sans-Regular.woff');
}

body {
    font-family: Product Sans;
    font-size: 13px;
    background-color: #2C3A47;
}

#all, #all2 {
	height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center;
}

#all2 {
	justify-content: flex-start;
	flex-direction: column;
	padding-top: 30px;
}

.box {
	background-color: #B33772;
}

.box1 {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 350px;
	height: 250px;
	border-radius: 60px;
}

#box2 {
	width: 600px;
	height: 600px;
	border-radius: 20px;
	padding: 30px 40px;
}

.box3 {
	width: 700px;
	height: auto;
	border-radius: 10px;
	padding: 20px;
	margin-top: 20px;
}

#space {
	width: 100px;
}

.light,
.dark {
	font-weight: bold;
}

.light {
	color: white;
}

.dark {
	color: #181818;
}

.dados {
	font-size: 1.1em;
}

.ocorrencia {
	font-weight: lighter;
}

#box2 p {
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}

.box1 p {
	font-size: 2.3em;
	font-weight: lighter;
}

.box1:hover {
	background-color: #962E60;
}

label {
	margin-left: 0px;
}

input,
select,
textarea {
	width: 520px;
	height: 27px;
	padding: 0 10px 0 10px;
	margin-bottom: 15px;
	margin-top: 2px;
}

#setor_assunto {
	display: flex;
	flex-direction: row;
}

select {
	width: 240px;
	margin: 2px 40px 15px 0;
}

textarea {
	height: 80px;
	padding-top: 3px;
	resize: none;
}

input,
select,
textarea,
button {
	font-family: Product Sans;
	font-weight: bold;
	color: #181818;
}

form input::-webkit-input-placeholder,
form select option::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
    color: #BEBEBE;
    font-size: 0.9em;
    font-weight: bolder;
    padding-top: 2px;
}

button {
	background-color: #FFD966;
	font-size: 1.3em;
	width: 100px;
	height: 40px;
	margin-top: -5px;
	border-radius: 90px;
	float: right;
}

button.concluir {
	width: 90px;
	height: 35px;
}

button.voltar {
	position: absolute;
	margin: 20px 0 0 20px;
	float: left;
}

button:hover {
	background-color: #FFE699;
}
.new{
	color: white;
}
