body {
    margin: 0px;
}
.content {
        width: 100vw;
        height: 100vh;    
    background: #2C3A47;     
       display: flex;
        flex-direction: row;
       justify-content: center;
       align-items: center;
      
       
   }
   
   
    .box { 
      width: 40vw;
       height: 40vw;
       background:#B33773;
       border-radius: 10px;
    }
   
 
    .inside-box{ 
        
        display: flex;
    justify-content: center;
    margin-top: 10vw;
    
    }
form{ 
    padding: 20px 20px 20px 20px;
    width: 400px;
    height: 200px;
}
.controller{ /* usei para deixar o assunto e setor bem aninhados dentro do form*/
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.form-group{ /*deixar o bagui ajeiado dentro do form*/
    display: grid ;
    
    
}
.form-flex{ /* para formatar o campo setor e assunto*/
    display: grid;
    width: 180px;
    
    
}

button{ /*para formatar o botão*/
    background-color: #FED966;
    
    border-radius: 10px;

}
label{ /* para formatar a fonte*/
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;

}
.tamanho-input{
    height: 25px;
    
}
.margem{ /*colocar margem dentro de cada conteudo*/
    margin-top: 20px;
}

.nome-empresa{
    height: 30px;
}
.setor-assunto{
    height: 25px;
}